<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel ="stylesheet" href="../public/css/login.css">
    <link rel ="icon" href="../public/image/IM_favicon.png">
</head>
<body>
    <div class = "container">
        <header><!--상단 image가 있는 부분-->
          <a href="#none"><img src="../public/image/login_header.png" margine ="0px" height="58px"></a>
        </header>
        <section><!--section은 컨텐츠가 있는 부분-->
            <div class="login">
                <div class ="login-contents">
                    <h1>로그인</h1>
                    <input type="email" placeholder="e-mail"> <br>

                    <input type="password" placeholder="password"> <br><br>

                    <div class = "or-line">또는</div><br>
                    <center>
                    <a class= "kakao-login-button" href=""><img src=""> 카카오톡 로그인</a><br>
                    <a class= "google-login-button" href=""><img src=""> 구글 로그인</a> 
                    </center>
                </div>
                <div class = "login-footer">
                    <p>
                        IManager가 처음이신가요? <a href="../views/signup.html">회원가입</a>
                    </p>
                </div>
        </section> 
    </div>
</body>