<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="../public/signup.css">
    <link rel ="icon" href="../public/image/IM_favicon.png">
</head>
<body>
    <div class = "container">
        <header>
            <a href="#none"><img src="../public/image/login_header.png" margine ="0px" height="58px"></a>
        </header>
        <section>
            <div class = "signup">
                <div class = "signup-contents">
                    <h1>회원가입</h1><br>
                    <input type = "text" placeholder="이름"> <br><br>
                    <input type ="email" placeholder="이매일">  <br><br>
                    <input type ="password" placeholder="패스워드">  <br>
                    <input type ="password" placeholder="패스워드 재입력">  <br>
                    <br><br><br>
                    <center>
                    <a class= "signup-button" href=""><img src="">입력 완료</a> 
                    </center>
                </div>
            </div>  
        </section>
    </div>

</body>